

<div >
    <h1>Order Purchase  Info</h1>
	<img  ng-src="{{guitarData[image].image_path}}" width="100px" height="100px" /> 
</div>

<div style >
	<h2>Product Description :- </h2>
	<p>{{guitarData[productDescription].product_description}}</p>

	<div> 
		<h3>Price Details:- </h3>
			<p>Product Price : {{guitarData[productPrice].price | currency }}</p> 
			<p>Shipping Price :  {{guitarData[shippingCharges].shipping_details | getInt| currency}}</p>
			<p>Total Price :{{(guitarData[productPrice].price)+ (guitarData[shippingCharges].shipping_details | getInt) | currency}}</p>
	</div> 
</div>

<div class="formClass">
		<h1>Purchase Form</h1>
		First Name: <input type="text" ng-model="firstname"> <br>
		Last  Name: <input type="text" ng-model="Lastname"> <br>
</div>